
@media screen and (max-width: 479px) {

  .wrapper{
    width: 150px;
    margin:auto;
}

         
.header {
    width: 150px;
    height: 100px;
    background-color: #141f40;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
   
}




.center1{
    width: 150px;
    height: 50px;
    background-color: #dbd400;

}


.center2{
    width: 150px;
    height: 100px;
    background-color: #0093b7;

}


.right {
    width: 150px;
    height: 150px;
    unicode-range: 100px;
    background-color: #ff9e6b;
}

.center3{
    width: 150px;
    height: 100px;
    background-color: #8c2727;
    
}


.footer {
    width: 150px;
    height: 100px;
    background-color: #d98d30;
}

}